*{
    margin: 0px;
    padding: 0px;
    
}

.title {
    color: skyblue;
    text-shadow: 7px 8px 7px rgb(233, 11, 233);
}

.drinkBtn {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.randoImg {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.rcpimg {
    height: 150px;
    width: 150px;
}

.navDiv {
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 15px;
    
}

.navTitle {
    color: snow;
    padding-top: 10px
}
.linkDiv > a {
    display: block;
    padding: 7px;
    text-decoration-style: unset;
    font-display: lighter;
    color: black
}

input {
    height: 20px;
    width: 300px;
    align-content: center;
    text-align: center;
    padding: 10px;
}

/* .searchRes {
    display: block;
    justify-content: center;
    text-align: center;
    align-content: center;

} */

.homeDiv {
    justify-content: center;
    text-align: center;
    align-content: center;
       
}
.homeRes{
    color: skyblue
}
.homeDiv > a {
    display: block;
    padding: 7px;
    text-decoration: none;
    font-display: lighter;
}
.ingDiv {
    justify-content: center;
    text-align: center;
    align-content: center;
}

.inInput {
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.ingDiv > a {
    display: block;
    padding: 7px;
    text-decoration: none;
    font-display: lighter;
}

.randoDiv {
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.randoDiv > a {
    display: block;
    padding: 7px;
    text-decoration: none;
    font-display: lighter;
    color: black;

}

.randoTitle {
    color: skyblue;
}
.recDiv {
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 60px;
}

body {
    background-image: radial-gradient(circle, rgb(167, 56, 205), #c13475, purple);
    min-height: 100vh;
    max-height: 10000vh;
    width: 100%;

}

.errmsg {
    padding: 10px;
}

.recTitle {
    color: skyblue;

}

.recIng {
    color:snow;
}

.recInst {
    color: snow;
}

.ingimg {
    display : none;

}

.recIngs {
    color: black;
    display: inline;
}

@media only screen and ( min-width:900px ) and (max-width: 4000px){

    
    .navDiv{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        z-index: 10


    }
    .title-better{
        width: 60vw;
        display: flex;
        justify-content: flex-start;
        font-size: 9vh;
        color: rgb(247, 242, 1);
        
    }
    .martini-glass{
        position:absolute;
        background-image: url('./Image/imageedit_6_3100825224.png');
        width: 30vw;
        height: 40vh;
        right:30vw;
        top:2vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .title-bartender{
        font-size: 12vh;
        width: 70vw;
        line-height: 20px;
        display: flex;
        justify-content: flex-end;
        
    }

    .recDiv {
        display: inline block;
        justify-content: normal;
        text-align: left;
        align-content: left;
        padding: 60px;
        margin-top: -300px;
        
        

    }

    /* .navDiv {
        font-size: 25px;
        display: inline;
        text-align: center;
        padding: 15px;
        
    }
     */
    .navTitle {
        display: none;

    }

    .linkDiv {
        display: flex;
        justify-content: center;
        padding: 30px;    
    }
    .linkDiv a{
        text-decoration: none;
        margin: 80px 5px;
        border: 2px solid black;
        border-radius: 30px;
        padding: 10px;
        width: 15vw;
    }
    .nmInput{
        position:absolute;
        top: 45vh;
        right:20vw;
        width:60vw;
        border:5px solid purple;
        border-radius: 20px;
    }

    .inInput{
        position:absolute;
        top: 45vh;
        right:20vw;
        width:60vw;
        border:5px solid purple;
        border-radius: 20px;
    }

    .errmsg {
        color:whitesmoke;
        top: 50vh;
    }
    .homesearch{
        top: 120vh;
        margin-top: -150px
    }
    
    .searchRes {
        display: inline-block;
        padding: 30px;

    }
    
    .ingDiv > a {
        display: inline;
        padding: 7px;
        text-decoration: none;
        font-display: lighter;
    }
    
    .ingimg {
        display: inline;
        height: 100px;
        width: 100px;
        
    }
    .rcpimg {
        height: 400px;
        width: 500px;
        float: left;
        padding: 30px;

    }

    .recTitle {
        padding: 10px;
    }

    .notadiv {
        display: inline;
    }

    .recInst {
        padding: 18px;
    }

    .recTitle {
        font-size: 55px;
    }
    .randoImg {
        height: 400px;
        width: 500px;
        padding: 30px;
    }
    .randoDiv {
        font-size: 70px;
        margin-top: -200px
    }
    
}